.bg-gradient {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    background-repeat: no-repeat;
}

.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 3px;
}

.section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
}

.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-2px) scale(1.5);
    background-size: 100%;
    z-index: -1;
    background-repeat: no-repeat;
}

.back1::after {
    background-image: url("../assets/drachensuite.jpg");
}

.back2::after {
    background-image: url("../assets/kaminzimmer.jpg");
}

.card {
    margin-left: 1vw !important;
}